:root {
    --primary-color: #22223b;
    --secondary-color: #9a8c98;
    --background-color: #f2e9e4;
    --text-color: var(--primary-color);
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    --accent-color: #f72585;
}


[data-theme="dark"] {
    --primary-color: #f2e9e4;
    --text-color: var(--primary-color);
    --background-color: #212529;
    --box-shadow: 0 4px 6px rgba(239, 239, 239, 0.1);
}